.bots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.buttons {
    display: flex;
    gap: 1em;
    justify-content: center;
}
.button {
    padding: .5em 1em;
    color: white;
    background-color: red;
    border: none;
    border-radius: 0.5em;
    margin-top: 1em;
}
.button:hover {
    background-color: darkred;
    color: azure;
}