.players {
    display: flex;
    gap: .5em;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
}
.players__player {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
}
.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    padding: .5em 1em;
    color: white;
    background-color: red;
    border: none;
    border-radius: 0.5em;
    margin-top: 1em;
}
.button:hover {
    background-color: darkred;
    color: azure;
}